[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = ????stm32f030+FreeRTOS+sim800c?
[access "refs/*"]
	owner = group user/Tz (loveduino)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Tz (loveduino)
	label-Verified = -1..+1 group user/Tz (loveduino)
	push = group user/Tz (loveduino)
	read = group user/Tz (loveduino)
	rebase = group user/Tz (loveduino)
	removeReviewer = group user/Tz (loveduino)
	submit = group user/Tz (loveduino)
[access "refs/heads/*"]
	create = group user/Tz (loveduino)
	push = +force group user/Tz (loveduino)
	pushMerge = group user/Tz (loveduino)
	read = group user/Tz (loveduino)
[access "refs/tags/*"]
	push = group user/Tz (loveduino)
	push = +force group user/Tz (loveduino)
